@font-face {
    font-family: "IRANVazir";
    src: url("/assets/font/Vazirmatn-Light.woff2") format("woff2");
    font-weight: 200;
}


@font-face {
    font-family: "IRANVazir";
    src: url("/assets/font/Vazirmatn-Medium.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}


@font-face {
    font-family: "IRANVazir";
    src: url("/assets/font/Vazirmatn-Bold.woff2") format("woff2");
    font-style: bold;
    font-weight: 700;
}


body, button {
    font-family: "IRANVazir";
}